@keyframes slide-left {
    from {
        margin-right: -200px;
    }

    to {
        margin-right: 0;
    }
}

* {
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
}

html {
    scroll-behavior: smooth;
}

html.unscrollable, body.unscrollable {
    overflow: hidden;
}

a {
    color: #171717;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

a:hover {
    color: #171717;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

.vh-100 {
    height: 100vh;
}

.underline {
    font-family: "Poppins";
    font-weight: 500;
}

.underline.white {
    color: #ffffff;
}

.underline.black {
    color: #1d1d1d;
}

/* Estilos para dispositivos móveis */
@media (max-width: 768px) {
    /* Section Navbar */
    .navbar-menu {
        background: #171717;
    }

    .logo-wrapper {
        float: left;
    }

    .logo-img {
        width: 80%;
    }

    .menu-icon-wrapper {
        float: right;
    }

    .menu-icon-mobile {
        width: 80%;
        cursor: pointer;
    }

    .menu-cover-mobile {
        opacity: 0;
        background: #ffffff;
        margin-top: 0;
        padding: 1.5rem 0;
        position: fixed;
        top: 0;
        right: -600px;
        width: 70%;
        transition: top, opacity .8s;
        height: 100vh;
    }

    .menu-cover-mobile.appear {
        overflow: hidden;
        opacity: 1;
        right: 0px;
        transition: top, opacity .8s;
        z-index: 10000;
    }

    .menu-cover-mobile-background.appear {
        display: block !important;
        top: 0;
        height: 100vh;
        width: 100%;
        position: fixed;
        background-color: #0000009a;
        z-index: 1000;
    }

    .menu-list-mobile {
        position: relative;
        padding: 0;
        margin: 0;
        margin-right: -2009px;
        list-style: none;
        transition: .5s;
    }
    
    .menu-list.appear {
        margin: 0;
        transition: .5s;
    }

    .first-of-menu {
        margin-top: 30px;
    }

    .menu-list-item {
        display: block;
        font-family: 'Poppins', sans-serif !important;
        color: #171717 !important;
        font-weight: 600;
        font-size: 20px;
        padding-left: 8px;
        padding-top: 11px;
        text-align: left;
    }

/* Section Welcome */
    .section-welcome {
        background-image: url('../img/bg-man.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-color: #171717;
    }

    .black-bg {
        height: 92vh;
    }

    .welcome-title {
        font-size: 33px;
        font-weight: 600;
    }

    .welcome-description {
        font-size: 19px;
        font-weight: 300;
    }

    .welcome-description b {
        font-size: 19px;
        font-weight: 600;   
    }

/* Section Pesquisa */
    .pesquisa-title {
        color: #1d1d1d;
        font-family: 'Poppins', sans-serif;
        font-size: 28px;
        line-height: 29px;
        font-weight: 700;
    }

    .pesquisa-description {
        color: #171717;
        font-family: 'Poppins',  sans-serif;
        font-size: 14px;
        font-weight: 600
    }

    .pesquisa-porcentagem {
        color: #1d1d1d;
        font-size: 48px;
        font-weight: 400;
        line-height: 38px;
        padding-left: 8px;
        border-left: 4px solid #1d1d1d;
    }

    .pesquisa-text {
        color: #1d1d1d;
        font-family: 'Poppins', sans-serif;
        font-size: 16px;
        font-weight: 400;
    }

/* Section Marcante */
    .section-marcante {
        background-image: url(../img/marcante-cover.jpg);
        background-size: cover;
        background-attachment: scroll;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .marcante-title {
        font-family: 'Poppins', sans-serif;
        font-size: 43px;
        font-weight: 800;
    }

    .marcante-description {
        font-size: 28px;
        padding-left: 39px;
        font-weight: 400;
    }

/* Section Experiencia */
    .section-experiencia {
        background-image: url('../img/experiencia-cover.jpg');
        background-attachment: scroll;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 61%;
    }

    .experiencia-title {
        color: #1d1d1d;
        font-family: 'Poppins', sans-serif;
        font-size: 43px;
        font-weight: 800;
    }

    .experiencia-description {
        color: #1d1d1d;
        font-size: 28px;
        padding-left: 39px;
        font-weight: 400;
    }

/* Section Minimalista */
    .section-minimalista {
        background-image: url('../img/minimalista-cover.jpg');
        background-size: cover;
        background-position: center;
        background-position-x: 65%;
        background-repeat: no-repeat;
    }

    .minimalista-title {
        color: #ffffff;
        font-family: 'Poppins', sans-serif;
        font-size: 43px;
        font-weight: 800;
    }

    .minimalista-description {
        color: #ffffff;
        font-size: 25px;
        padding-left: 39px;
        font-weight: 400;
    }

/* Section TimeLine */
    .timeline {
        position: relative;
        padding: 0;
        list-style: none;
    }

    .timeline-main-title {
        color: #1d1d1d;
        font-family: 'Poppins', sans-serif;
        font-size: 28px;
        font-weight: 700;
        text-align: center;
    }

    .timeline-title {
        color: #000000;
        font-family: 'Poppins', sans-serif;
        font-size: 28px;
        font-weight: 400;
    }

    .timeline-description {
        color: #505050;
        font-family: 'Roboto', sans-serif;
        font-size: 19px;
        font-weight: 400;
    }
    
    .timeline-description b{
        color: #505050;
        font-family: 'Roboto', sans-serif;
        font-size: 19px;
        font-weight: 700;
    }

    .timeline-image {
        display: flex;
        justify-self: center;
        margin: auto;
        width: 70%;
    }

/* Section Contato */
    .section-contato {
        background-color: #000000;
        height: 100vh;
    }
    
    .contato-title {
        color: #ffffff;
        font-family: 'Poppins', sans-serif;
        font-size: 30px;
        font-weight: 700;
        text-align: center;
    }

    .section-form-row {
        height: 60vh;
    }

    .form-label {
        font-family: 'Poppins', sans-serif;
        color: #000000;
        font-size: 16px;
    }

    .input {
        border: none;
        border-bottom: 1px solid #000000;
        border-radius: 0 !important;
        font-size: .9rem !important;
    }

    .input:focus {
        color: #495057;
        background-color: #fff;
        border-bottom: 1px solid #000000;
        outline: 0;
        box-shadow: none;
    }

    .modal-form-title {
        color: #000000;
        font-family: 'Poppins', sans-serif;
        font-size: 21px;
        font-weight: 400;
    }

    .modal-form-title b {
        color: #000000;
        font-family: 'Poppins', sans-serif;
        font-size: 21px;
        font-weight: 700;
    }

    .form-btn {
        background: #000000;
        color: #ffffff;
        font-family: 'Poppins', sans-serif;
        font-size: 16px;
        border-radius: 5rem;
        padding: 8px 30px;
    }

    .form-btn-light {
        background: #ffffff;
        color: #000000;
        font-family: 'Poppins', sans-serif;
        font-size: 16px;
        border-radius: 5rem;
        padding: 8px 30px;
        border: 1px solid #00000069;
    }

    .return-icon {
        width: 20px;
    }

    .modal-form-btn {
        background: #ffffff;
        color: #171717;
        font-family: 'Poppins', sans-serif;
        font-size: 20px;
        font-weight: 700;
        border: none;
        border-radius: 5rem;
        padding: 13px 30px;
        filter: drop-shadow(0px 3px 3px #ffffff88);   
        -webkit-transition-duration: 0.5s;
        -webkit-transition-timing-function: linear;
        box-shadow:0px 0 0 #c5c5c5   inset;
    }

    .modal-form-btn:hover {
        border: none;
        outline: transparent;
        box-shadow: 320px 0 0 #c5c5c5  inset;
    }

    .modal-form-btn:focus, .modal-form-btn:active {
        outline: none !important;
        box-shadow: none !important;
        -webkit-box-shadow: none !important;
    }
    
    .form-btn:hover {
        color: #cecece;
    }

    #message-box {
        resize: none;
        overflow: hidden;
        box-sizing: border-box;
    }

/* WhatsApp Float Button */
    .wpp-button-wrapper {
        opacity: 0;
        position: fixed;
        bottom: 20px;
        right: 20px;
        background: #000000;
        border: none;
        border-radius: 5rem;
        padding: 10px;
        overflow: hidden;
        cursor: pointer;
        transition: opacity .5s;
    }

    #whatsapp-btn {
        transition: .6s;
    }

    .wpp-text {
        display: none;
        color: #ffffff;
        font-family: 'Poppins', sans-serif;
        font-size: 15px;
        padding-bottom: 0;
        margin-bottom: 0;
        margin-right: -300px;
        transition: all .7s;
    }
    
    .wpp-button-wrapper:hover .wpp-text {
        display: inline-block;
        margin-right: 0;
        animation-name: slide-left;
        animation-duration: .8s;
        animation-iteration-count: 1;
    }

    .wpp-img {
        display: inline-block;
        width: 30px;
        padding-bottom: 0;
        margin-bottom: 0;
        transition: .7s;
    }
}

/* Estilos para tablets */
@media (min-width : 767px) and (max-width : 1023px) {

}

/* Estilos para dispositivos Desktops e Laptops */
@media (min-width: 1024px) {
/* Section Navbar */
    .navbar-menu {
        background: #171717;
    }

    .logo-wrapper {
        float: left;
    }

    .logo-img {
        width: 80%;
    }

    .menu-icon-wrapper {
        float: right;
    }

    .menu-icon {
        width: 80%;
        cursor: pointer;
    }

    .menu-cover {
        background: #ffffff;
        margin-top: 0;
        padding: 1.5rem 0;
        position: absolute;
        top: -100px;
        width: 100%;
        transition: top .4s;
    }

    .menu-cover.appear {
        top: 0px;
        transition: top .4s;
    }

    .menu-list {
        position: relative;
        padding: 0;
        margin: 0;
        margin-left: -2009px;
        list-style: none;
        transition: .5s;
    }
    
    .menu-list.appear {
        margin: 0;
        transition: .5s;
    }

    .menu-list-item {
        display: inline-block;
        margin-right: 45px;
        font-family: 'Poppins', sans-serif !important;
        color: #171717 !important;
        font-weight: 600;
        font-size: 18px;
    }

/* Section Welcome */
    .section-welcome {
        background-image: url('../img/bg-man.jpg');
        background-size: contain;
        background-position: right;
        background-repeat: no-repeat;
        background-color: #171717;
    }

    .black-bg {
        height: 92vh;
    }

    .welcome-title {
        font-size: 56px;
        font-weight: 600;
    }

    .welcome-description {
        font-size: 20px;
    }

/* Section Pesquisa */
    .pesquisa-title {
        color: #1d1d1d;
        font-family: 'Poppins', sans-serif;
        font-size: 42px;
        font-weight: 700;
    }

    .pesquisa-description {
        color: #171717;
        font-family: 'Poppins',  sans-serif;
        font-size: 14px;
        font-weight: 600
    }

    .pesquisa-porcentagem {
        color: #1d1d1d;
        font-size: 58px;
        font-weight: 400;
        line-height: 52px;
        padding-left: 8px;
        border-left: 4px solid #1d1d1d;
    }

    .pesquisa-text {
        color: #1d1d1d;
        font-family: 'Poppins', sans-serif;
        font-size: 22px;
        font-weight: 400;
    }

/* Section Marcante */
    .section-marcante {
        background-image: url('../img/marcante-cover.jpg');
        background-size: cover;
        /* background-attachment: fixed; */
        background-attachment: scroll;
        background-repeat: no-repeat;
        background-size: 110%;
    }

    .marcante-title {
        font-family: 'Poppins', sans-serif;
        font-size: 72px;
        font-weight: 800;
    }

    .marcante-description {
        font-size: 28px;
        padding-left: 60px;
        font-weight: 400;
    }

/* Section Experiencia */
    .section-experiencia {
        background-image: url('../img/experiencia-cover.jpg');
        background-size: cover;
        /* background-attachment: fixed; */
        background-attachment: scroll;
        background-repeat: no-repeat;
        background-size: 110%;
    }

    .experiencia-title {
        color: #1d1d1d;
        font-family: 'Poppins', sans-serif;
        font-size: 72px;
        font-weight: 800;
    }

    .experiencia-description {
        color: #1d1d1d;
        font-size: 28px;
        padding-left: 60px;
        font-weight: 400;
    }

/* Section Minimalista */
    .section-minimalista {
        background-image: url('../img/minimalista-cover.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 110%;
    }

    .minimalista-title {
        color: #ffffff;
        font-family: 'Poppins', sans-serif;
        font-size: 72px;
        font-weight: 800;
    }

    .minimalista-description {
        color: #ffffff;
        font-size: 28px;
        padding-left: 60px;
        font-weight: 400;
    }

/* Section TimeLine */
    .timeline {
        position: relative;
        padding: 0;
        list-style: none;
    }

    .timeline-main-title {
        color: #1d1d1d;
        font-family: 'Poppins', sans-serif;
        font-size: 42px;
        font-weight: 700;
        text-align: center;
    }

    .timeline-title {
        color: #000000;
        font-family: 'Poppins', sans-serif;
        font-size: 28px;
        font-weight: 400;
    }

    .timeline-description {
        color: #505050;
        font-family: 'Roboto', sans-serif;
        font-size: 19px;
        font-weight: 400;
    }
    
    .timeline-description b{
        color: #505050;
        font-family: 'Roboto', sans-serif;
        font-size: 19px;
        font-weight: 700;
    }

    .timeline-image {
        display: flex;
        justify-self: center;
        margin: auto;
        width: 85%;
    }
    
    .timeline:before {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 50%;
        width: 2px;
        margin-left: -1.5px;
        content: '';
        background-color: #e9ecef;
    }

/* Section Contato */
    .section-contato {
        background-color: #000000;
        height: 100vh;
    }
    
    .contato-title {
        color: #ffffff;
        font-family: 'Poppins', sans-serif;
        font-size: 36px;
        font-weight: 700;
        text-align: center;
    }

    .section-form-row {
        height: 60vh;
    }

    .form-label {
        font-family: 'Poppins', sans-serif;
        color: #000000;
        font-size: 16px;
    }

    .input {
        border: none;
        border-bottom: 1px solid #000000;
        border-radius: 0 !important;
        font-size: .9rem !important;
    }

    .input:focus {
        color: #495057;
        background-color: #fff;
        border-bottom: 1px solid #000000;
        outline: 0;
        box-shadow: none;
    }

    .modal-form-title {
        color: #000000;
        font-family: 'Poppins', sans-serif;
        font-size: 21px;
        font-weight: 400;
    }

    .modal-form-title b {
        color: #000000;
        font-family: 'Poppins', sans-serif;
        font-size: 21px;
        font-weight: 700;
    }

    .form-btn {
        background: #000000;
        color: #ffffff;
        font-family: 'Poppins', sans-serif;
        font-size: 16px;
        border-radius: 5rem;
        padding: 8px 30px;
    }

    .modal-form-btn {
        background: #ffffff;
        color: #171717;
        font-family: 'Poppins', sans-serif;
        font-size: 20px;
        font-weight: 700;
        border: none;
        border-radius: 5rem;
        padding: 13px 30px;
        filter: drop-shadow(0px 3px 3px #ffffff88);   
        -webkit-transition-duration: 0.5s;
        -webkit-transition-timing-function: linear;
        box-shadow:0px 0 0 #c5c5c5   inset;
    }

    .modal-form-btn:hover {
        border: none;
        outline: transparent;
        box-shadow: 320px 0 0 #c5c5c5  inset;
    }

    .modal-form-btn:focus, .modal-form-btn:active {
        outline: none !important;
        box-shadow: none !important;
        -webkit-box-shadow: none !important;
    }
    
    .form-btn:hover {
        color: #cecece;
    }

    #message-box {
        resize: none;
        overflow: hidden;
        box-sizing: border-box;
    }

/* WhatsApp Float Button */
    .wpp-button-wrapper {
        opacity: 0;
        position: fixed;
        bottom: 20px;
        right: 20px;
        background: #000000;
        border: none;
        border-radius: 5rem;
        padding: 10px;
        overflow: hidden;
        cursor: pointer;
        transition: opacity .5s;
    }

    #whatsapp-btn {
        transition: .6s;
    }

    .wpp-text {
        display: none;
        color: #ffffff;
        font-family: 'Poppins', sans-serif;
        font-size: 15px;
        padding-bottom: 0;
        margin-bottom: 0;
        margin-right: -300px;
        transition: all .7s;
    }
    
    .wpp-button-wrapper:hover .wpp-text {
        display: inline-block;
        margin-right: 0;
        animation-name: slide-left;
        animation-duration: .8s;
        animation-iteration-count: 1;
    }

    .wpp-img {
        display: inline-block;
        width: 30px;
        padding-bottom: 0;
        margin-bottom: 0;
        transition: .7s;
    }
}

.close-icon {
    position: absolute;
    top: 5px;
    right: 16px;
    font-size: 28px;
    font-weight: 500;
    color: black;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
}

/* Estilos para dispositivos Desktop com tela de alta resolução */
@media (min-width: 1920px) { 
  
 }
